.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    width: 85%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px 20px;
}

.project-heading {
    color: rgba(233, 146, 135, 1);
    font-size: 3rem;
    margin: 0px 30px 100px 30px;
}


.project-card {
    border: 1px solid rgba(96, 123, 150, 1);
    height: 45%;
    width: 30%;
    background-size: 100% 100%;
}

.inner-project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 5%;
    a{
        display: none;
        font-size: 1.5rem;
        text-shadow: 0px 0px 10px rgb(215, 69, 29);
        color: rgba(67, 217, 173, 1);
    }
    .button {
        display: none;
        background-color: rgba(52, 26, 22, 0.463);
        margin: 30px;
        width: 8vw;
        height: 50px;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
        z-index: -0;
    }
}
.inner-project-card:hover{
    backdrop-filter: blur(4px);
    .button{
        display: inline;
    }
    .button a{
        display: inline;
    }
    h2{
        display: inline;
    }
}

.project-card-heading {
    color: rgb(13, 10, 10);
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0px 0px 15px rgb(255, 255, 255);
}

.inner-project-card>div {
    display: flex;
}

.button:hover {
    transform: scale(1.1);
    border: 1px solid rgba(67, 217, 173, 1);
    font-weight: 600;
    box-shadow: 0px 0px 10px rgba(188, 84, 5, 0.361);
}