.about {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.details-interests {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
}

.about-me-headers {
    min-width: 300px;
    max-width: 600px;
    margin: 10vh 0vw 20vh 10vw;
}

.about-me-headers h1 {
    font-size: 4rem;
    font-weight: 700;
    color: rgba(67, 217, 173, 1);
}
.about-me-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.about-me-details h1{
    color: rgba(233, 146, 135, 1);
    font-size: 3rem;
    margin:0px 30px 0 30px;
}

.about-me-headers span {
    font-size: 1rem;
    font-weight: 500;
    color: rgba(67, 217, 173, 1);
}
.details-types p{
    display: inline;
    font-size: 1.2rem;
    
}
.details-types li{
    text-align: start;
    padding-left: 20px;
}