main {
    grid-area: main;
    height: 5fr;
}

.hero_text h4 {
    font-size: 1rem;
    color: white;
}

._hello {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.hero_text h1 {
    font-size: 4rem;
    color: white;
}

.hero_text h2 {
    font-size: 2rem;
    color: rgba(77, 91, 206, 1);
    padding-bottom: 6rem;
}

.purple {
    color: rgba(77, 91, 206, 1)
}

.green {
    color: rgba(67, 217, 173, 1);
}

.white {
    color: white;
}

.hero_p_const a {
    color: rgba(233, 146, 135, 1);
}

.hero_text {
    padding-left: 50px;
}

.hero-game {
    width: 400px;
    min-width: 400px;
    height: 400px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    display: inline;
    position: relative;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 25px;
    background-color: transparent;
}

#light_hold{
    animation: colorsm 8s infinite linear;
    box-shadow: 100px 50px 150px 150px rgba(67, 217, 172, 0.567), -100px -50px 150px 150px rgba(77, 92, 206, 0.6);
    width: 1px;
    height: 1px;
    position: absolute;
    top: 200px;
    left: 200px;
    z-index: -1;
}

.screw {
    text-align: center;
    padding: 0px;
    margin: 7px;
    border-radius: 50px;
    width: 16px;
    box-shadow: inset 1px 2px 1px rgba(0, 0, 0, 0.564);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.579);
    position: absolute;
}

#screw-tr {
    top: 0px;
    right: 0px;
}

#screw-tl {
    top: 0px;
    left: 0px;
}

#screw-br {
    bottom: 200px;
    right: 0px;
}

#screw-bl {
    bottom: 200px;
    left: 0px;
}

.game_window img {
    width: 420px;
    z-index: 2;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 25px;
}