.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
    font-weight: 500;
    
    
    form{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-color: rgba(5, 112, 112, 0);
        width: 70%;
        max-width: 1100px;
        border: 1px solid  rgba(128, 128, 128, 0.68);
        padding: 2%;
        margin-top: 5%;
        height: 60vh;
    }
    input, textarea{
        margin: 10px;
        color: rgb(240, 128, 128);
        align-self: center;
        width: 100%;
        border: 1px solid  rgba(128, 128, 128, 0.68);
        padding: 5px;
    }
    .form-submit{
        width: 20%;
        text-align: center;
        height: 10%;
        cursor: pointer;
    }
    .form-submit:hover{
        transform: scale(1.05);
    }
}
